body {
    height: 110px;
    text-align: center;
    background-color: mediumseagreen;
}

h1 {
    border: 10px;
    background-color: black;
    color: white;
}

.img_deg {
    float:right;
}

footer {
    text-align: right;
}